* {
	font-family: "";

}
html { 
	height: 100%; 
}

body {
  	min-height:100%; 
  	position:relative; 
  	padding-bottom: 70px; 
  	background: linear-gradient(to right, #cfdef3, #e0eafc);
}


.logo {
	font-family: 'Comic Sans MS';
	font-size: 46px;
	border-top: 6px dashed #FAB244;
	border-bottom: 6px dashed #FAB244;
	border-left: 8px solid #FAB244;
	border-radius: 4px;
	margin: 2%;
	letter-spacing: 10px;
}

.navbar {
	box-shadow: 0 0 10px;
}

.menu {
	font-size: 28px;
}

li {
	padding-left: 15%;
}

.form_search {
	position: absolute;
	right:  2%;
}


td {
	padding: 1%;
}

img {
	box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

img:hover {
	transition: 1s; 
	transform: scale(1.1);
}

tr th {
	text-align: center;
	font-size: 18px;
}

.column_id {
	width: 3%;
}

.column_title {
	width: 20%;
}

.column_content {
	width: 62%;
}

.column_postcard {
	width: 15%;
}


.footer { 
  	position: absolute; 
  	left: 0;
  	right: 0;
  	bottom: 0; 
  	text-align: center; 
  	height: 100px; 	
}

.footer a {
	color: #000000;
	font-size: 18px; 
}

.footer a:hover {
	color: #F02B52; 
	text-decoration: none;
}